<ul class="nav nav-list">
    <li class="nav-header">ЛИЧНЫЙ КАБИНЕТ</li>
    <li><a href="#">Персональные данные</a></li>
    <li><a href="#">Сведения о компании</a></li>
    <li class="nav-header">ЗАЯВКИ</li>
    <li class="active"><a href="#">Мои заявки</a></li>
    <li><a href="#">Создать новую</a></li>
    
</ul>
